body {
    background-color: #1A1A1A;
    font-family: 'Muli', sans-serif;
    color: white;
    text-align: center;
}
h1 {
    margin-top: 250px;
}
h5 {
    margin-bottom: 50px;
}
.form {
    width: 25%;
    margin: auto;
    padding-bottom: 100px;
}
.input {
    border-radius: 50px 0 0 50px;
    border: none;
    float: left;
    width: 80%;
    height: 50px;
    background-color: #424242;
    color: white;
    font-family: 'Muli', sans-serif;
    padding-left: 20px;
    font-size: 16;
}
.submit {
    border-radius: 0 50px 50px 0;
    border: none;
    float: right;
    width: 20%;
    height: 50px;
    background-color: #395936;
    color: white;
    font-weight: bold;
    font-size: 14;
}